<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>¡REGÍSTRATE EN ALGUNO DE NUESTROS CURSOS!</h2>
    <p th:each="c : ${lista}"> <!--Lista lo coge del model y con el th:each la recorre y repite
        sus hijos por cada iteracion-->
        <a th:href="@{/cursos/{id}(id=${c.id})}"> <!-- Crea una ruta juntando la ruta /cursos con el id del curso
            La @ necesaria en las rutas de th-->
            <span th:if="${c.plazas_disponibles > 0}" th:text="|${c.nombre} (${c.plazas_disponibles} plazas disponibles)|"></span>
            <!-- con th:if comprueba si quedan plazas disponibles para mostar un dato u otro-->
            <span th:if="${c.plazas_disponibles == 0}" th:text="|$c.nombre{} (Plazas agotadas)|"></span>
        </a>
    </p>

    <a th:href="@{/}">Volver a la pagina principal</a>
</body>
</html>